# Local .terraform directories
**/.terraform/*

# Ignore variables files
**/var-prod.auto.tfvars
wrapped_dek_keyset_bytes.txt

# Ignore lock files
*.terraform.lock.hcl

# Ignore override files
*.tfoverride

# Ignore state files
terraform.tfstate*

# Ignore environment-specific files
.envrc

# Ignore CLI configuration files
.terraformrc
terraform.rc